
<dl>

<dt>
<a name="guille-escuret2020">&nbsp;</a>
</dt>
<dd>
<b>
A Study of Condition Numbers for First-Order Optimization
</b><br>
Charles Guille-Escuret*, Baptiste Goujaud*, Manuela Girotti, Ioannis Mitliagkas
<br>
AISTATS, 2021 [<a href="https://arxiv.org/pdf/2012.05782">pdf</a>]
</dd>


<dt>
<a name="jolicoeur2020">&nbsp;</a>
</dt>
<dd>
<b>
Adversarial score matching and improved sampling for image generation
</b><br>
Alexia Jolicoeur-Martineau*, Rémi Piché-Taillefer*, Rémi Tachet des Combes, Ioannis Mitliagkas
<br>
ICLR, 2021 [<a href="https://arxiv.org/pdf/2009.05475">pdf</a>]
</dd>


<dt>
<a name="dziugaite2020">&nbsp;</a>
</dt>
<dd>
<b>
In search of robust measures of generalization
</b><br>
Gintare Karolina Dziugaite, Alexandre Drouin, Brady Neal, Nitarshan Rajkumar, Ethan Caballero, Linbo Wang, Ioannis Mitliagkas, Daniel M Roy
<br>
NeurIPS 2020 [<a href="https://arxiv.org/pdf/2010.11924">pdf</a>]
</dd>


</dl>